# Dependencias externas
/vendor/

# Ficheros del IDE o del S.O
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ficheros temporales o de prueba
*.tmp
*.bak
*.swp

# Ficheros generador por PHP
*.log
*.cache
*.session

# Archivos en local
.env
.env.local

# Ignorar imágenes subidas por usuarios
/public/assets/img/articles/
/public/assets/img/avatars/
/public/uploads/avatars/

# Mantener la estructura
!/public/assets/img/articles/.gitkeep
!/public/assets/img/avatars/.gitkeep
!/public/uploads/avatars/.gitkeep

# Archivos de Node
node_modules/
npm-debug.log
